<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>layout</title>
    <link rel="stylesheet" href="./layout.css" />
  </head>
  <body>
    <header>
      <h1>Header section</h1>
    </header>
    <div class="container">
      <aside class="side-content side-left">
        <h2>Left sidebar</h2>
        <p>Additional Content</p>
      </aside>
      <main class="main-content">
       <h2>main content</h2>
       <p>this is the main content</p>
      </main>
      <aside class="side-content side-right">
        <h2>Right sidebar</h2>
        <p>Additional Content</p>
      </aside>
    </div>
    <footer>
      <h2>footer section</h2>
    </footer>
    <script src="layout.js"></script>
  </body>
</html>
